* text=auto
*.php text eol=lf
*.py text eol=lf
*.ps1 text eol=crlf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.png binary
*.zip binary
*.mo binary
lib/plugin-update-checker/** -text -diff
plugin-dist/**/*.receipt.json -text -diff
